.relativePosition {
	position: relative;
}
.top-right {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: block;
}
.container {
	margin: 2em auto;
	max-width: 60em;
}
section {
	margin-top: 1em;
}
.heading {
	font-family: cambria, SimSun, "宋体";
	font-size: 1.3em;
	font-weight: bold;
}
.heading:after {
	content: '';
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1.5px;
}
.one-entry {
	display: relative;
	width: 100%;
	padding: 3px 0;
}
.title {
	font-weight: bold;
	font-family: cambria, "Microsoft YaHei", "微软雅黑", STHeiti, "华文黑体";
	text-align: left;
	margin-left: 5px;
}
.other-info {
	font-family: calibri, "Microsoft YaHei", "微软雅黑", "STHeiti Light", "华文细黑";
	text-align: left;
	width: 35%;
	position: absolute;
	right: 17%;
}
.period {
	font-family: calibri, "Microsoft YaHei", "微软雅黑", "STHeiti Light", "华文细黑";
	text-align: right;
	width: 17%;
	position: absolute;
	right: 0;
}
.details {
	font-family: calibri, "Microsoft YaHei", "微软雅黑", "STHeiti Light", "华文细黑";
	text-align: left;
	margin: 0 0 0 5px;
	padding: 0 0 0 15px;
}
body {
	font-family: cambria, calibri, "Microsoft YaHei", "微软雅黑", "STHeiti Light", "华文细黑", STHeiti, "华文黑体", SimSun, "宋体", sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: white;
	overflow: scroll;
}
a,
a:visited {
	text-decoration: none;
	color: #3366BB;
}
a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #3366BB;
}
a:active {
	text-decoration: none;
	color: #0B0080;
}
#fullname {
	font-family: cambria, SimSun, "宋体", STXihei, "华文黑体";
	font-weight: bold;
	font-size: 3.5em;
	text-align: center;
	margin: 0;
}

#fullname:after {
	content: '';
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}
#contact {
	font-family: calibri;
	font-size: 16px;
	text-align: center;
	margin: 2px auto 1.5em auto;
}
#contact:before {
	content: '';
	display: block;
	border-top-style: solid;
	border-top-width: 1px;
}